@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #4a5f3b;
    --secondary-color: #3b5c5f;
    --accent-color-1: #4f3b5f;
    --accent-color-2: #5f3d3b;
    --text-light: #fff;
    --text-dark: black;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-light);
    font-family: 'Merriweather', serif;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding-top: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 10px 100px 10px 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--accent-color-1);
    margin-top: 50px;
}

nav li {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    padding: 10px;
}
nav li a {
    color: var(--text-light);
    text-decoration: none;
}
nav li:hover {
    background-color: var(--text-light);
}
nav li:hover a {
    background-color: var(--text-light);
    color: var(--accent-color-2);
}
nav li a:hover {
    color: var(--accent-color-2);
}

.parent {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    grid-template-areas: 'main aside';
    flex-grow: 1;
    gap: 0.5em;
    padding: 0.5em;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .parent {
        grid-template-areas:
            'main'
            'aside';
        grid-template-columns: 1fr; /* Single column layout */
    }
    nav ul {
        padding: 5px 5px 5px 5px;
        flex-wrap: wrap;
    }
}

main,
aside {
    padding: 0;
    color: var(--text-dark);
    overflow: auto;
    border-radius: 10px;
    border: 2px solid var(--accent-color-1);
}

main {
    max-width: 1000px; /* Example max width */
    margin-left: auto;
    margin-right: auto;
    grid-area: main;
}

aside {
    grid-area: aside;
}

h2 {
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px;
    color: var(--text-light);
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.country-name h2 {
    background-color: #fff;
    color: var(--text-dark);
}
.profile,
.country {
    padding: 0.5em;
    position: relative;
}

span {
    color: yellow;
}

#lastModified {
    font-size: 0.7em;
}
.profile {
    position: relative;
}

.profile-img-container {
    float: right;
    text-align: center;
    padding: 0;
}

.profile-img-container img {
    width: 200px;
}

.flag-img-container {
    float: left;
    text-align: center;
    padding: 0;
    font-size: 0.9em;
}
.flag-img-container img {
    width: 200px;
}
.currentYear span {
    color: var(--text-light);
    text-decoration: none;
}
